// FONTS
$Arial: 'Arial', sans-serif, -apple-system; // example

// BASE
$base-transition: 0.3s;
$transition-duration: 0.3s;
$ease: 0.3s ease;

// COLORS
$lifehacker: #ed5e42;
$black: #000;
$white: #fff;
$blue: #094E95;
$dark-blue: #003872;
$more-dark-blue: #014170;
$dark-blue-text: rgba(0, 67, 115, 1);
$light-blue: rgba(125, 191, 255, 1);
